- content_for(:title) { "Favoriter" }
%ul{data: { role: "listview", count_theme: "c", inset: "true"}}
  - Available::PRIO_ROOMS.each do |room|
    %li
      %a{href: "#"}
        = room
        - found_room = @rooms.select {|data| data.first == room}.first
        - if found_room
          - if times = found_room.last
            - if times.any?
              %span.ui-li-count
                - starts_at = times.first.first
                - ends_at = times.last.last
                = starts_at == Available::NOW ? "Nu" : starts_at.strftime("%H:%M")
                till
                = ends_at.strftime("%H:%M")
