- content_for(:title) { "Alla rum" }

%ul{data: { role: "listview", count_theme: "c", inset: "true"}}
  - @rooms.each do |room, times|
    %li
      %a{href: "#"}
        = room
        - if times.any?
          %span.ui-li-count
            = times.map{ |span| "#{span.first == Available::NOW ? "Nu" : span.first.strftime("%H:%M")} till #{span.last.strftime("%H:%M")}" }.join(", ")
