%html
  %head
    %meta{content: "width=device-width, initial-scale=1.0,  minimum-scale=1.0", name: "viewport"}
    %title Rum
    %meta{content: "initial-scale=1.0", name: "viewport"}
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}
    %meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}
    %link{rel: "apple-touch-startup-image", href: "apple-touch-startup.png"}
    %link{href: "/jquery.mobile-1.3.1.css", rel: "stylesheet"}
    %script{src: "/jquery-1.9.1.min.js"}
    %script{src: "/jquery.mobile-1.3.1.min.js"}
  %body
    %div{data_role: "page"}
      %div{data: { role: "header", position: "fixed"}}
        .ui-btn-left.ui-mini{data: { role: "controlgroup", type: "horizontal"}}
          %a{href: "/", data: { icon: "home", role: "button", iconpos: "notext"}}

        %h1= yield_content(:title) || "Rum"
        .ui-btn-right.ui-mini{data: { role: "controlgroup", type: "horizontal"}}
          %a{href: "/favs", data: { icon: "star", role: "button", iconpos: "notext"}}
          %a{href: "/now", data: { icon: "navigation", role: "button", iconpos: "notext"}}

    %div{data: { role: "content"}}
      = yield