%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0,  minimum-scale=1.0", :name => "viewport"}
    %title Rum
    %meta{:content => "initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
    %link{:href => "/jquery.mobile-1.3.1.css", :rel => "stylesheet"}/
    %script{:src => "/jquery-1.9.1.min.js"}
    %script{:src => "/jquery.mobile-1.3.1.min.js"}
  %body
    %div{data_role: "page"}
      %div{data: { role: "header", position: "fixed"}}
        %a{href: "/", data: { icon: "home", theme: "a", iconpos: "notext"}} &nbsp;
        %h1= yield_content(:title) || "Rum"
        %a{href: "/favs", data: { icon: "star", theme: "a", iconpos: "notext"}} &nbsp;
    %div{data: { role: "content"}}
      = yield